.swiper-container {
    width: 100%;
    height: 100%;
    /* z-index: -10; */
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 70vh;
    overflow: hidden;


    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-pagination{
    position: absolute;
    bottom: 45px !important;
  }
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev,
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next,
  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    --swiper-theme-color: #dd9e1c;
  }

  .swiper-button-next, .swiper-container-rtl .swiper-button-prev,
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    margin: 0 160px;
  }

  .swiper-slide img{
    width: auto;
    height: 100%;
  }